<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911642471425-r9giqt111jkqqcu5dbjmis6v5ifvg0pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911642471425-r9giqt111jkqqcu5dbjmis6v5ifvg0pq</string>
	<key>API_KEY</key>
	<string>AIzaSyB1PStjz2Va_QEC0Li5vdE6oXer7w9yM70</string>
	<key>GCM_SENDER_ID</key>
	<string>911642471425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libraryApp</string>
	<key>PROJECT_ID</key>
	<string>library-store-ba2f3</string>
	<key>STORAGE_BUCKET</key>
	<string>library-store-ba2f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911642471425:ios:8a3622383117bf5518a400</string>
</dict>
</plist>